
.Toper {

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    font-size: 22px;
    color: black;
}

.listing {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;

}

.listing > div {
    background-color: #f1f1f1;
    margin: 1px;
    text-align: center;
    line-height: 35px;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.listLabel{

    margin-right: 130px;
    margin-left: 30px;
}


.Header{
    border-radius: 30px;
    text-align: center;
}

div > button{
    margin: 1px;
    text-align: center;
    line-height: 35px;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.papa{
    justify-content: space-between;
}




