/**
.nav class gives the navigation bar color and spacify height and width
**/
.nav{
  background:#EEEEEE;
  width:500;
  height:50px;
}

/**
content class make all the content put onto the right half end
**/
.content{
  height:100%;
  width: 50%;
  float: right;
  display: flex;
  justify-content: space-between;
}
/*
the below code makes all the button borderless
**/
.content>*{
  border: none;
}

/**
this code snipt make components respnsive when mouse isover them
**/
.content>*:hover{
  color: white;
  background: black;
}

